@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Bungee+Spice&family=Fraunces:opsz,wght@9..144,500&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Open+Sans:ital,wght@0,600;0,700;1,500;1,600;1,700&family=Overpass:wght@500&family=Poppins:ital,wght@0,300;1,100&family=Roboto:ital,wght@0,300;1,100;1,300&family=Uchen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat" sans-serif;
}
body {
  background-color:rgba(184, 118, 96, 0.719);
}
.container {
  width: 40rem;
  margin: 3rem auto;
  background-color: fuchsia;
  padding: 5rem;
  text-align: center;
  border-radius: 20px;
  border: none;
  opacity: 2;
  font-weight: 900;
  font-size: 1.2rem;
}
.first {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.ilk {
  margin-left: 2rem;
  width: 5rem;
}
.ilkimg {
  margin-left: 0.5rem;
  border-radius: 50%;
  width: 12rem;
}

button {
  padding: 1rem;
  border-radius: 10px;
  background-color: blueviolet;
  cursor: pointer;
  margin-top: 1rem;
  color: black;
}
button:hover {
  background-color:aqua;
  box-shadow: 3px 3px 10px red;
}
img:hover {
  transform: scale(3);
}
p{
  margin-left: 1rem;
}
h2{
  margin-left: 1rem;
}

